.resultsContainer{
    margin: 0px 32px 20px 32px;
    height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resultsMiddle{
    display: flex;
    justify-content: space-around;
}

.rombuses{
    position: relative
}

.resultsLoadingState{
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultsLoadingState h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

@keyframes bounceDots {
  0%, 20% { content: ""; }
  40% { content: "."; }
  60% { content: ".."; }
  80%, 100% { content: "..."; }
}

.resultsLoadingState h3:after {
  content: "";
  animation: bounceDots 1s infinite;
}

@media (max-width: 800px) {
    .resultsContainer .startButton {
        width: 100px;
        order: 0; 
        justify-content: center; 
        margin-top: 8px; 
        border: 1px solid #1A1B1C;
        padding: 8px;
        color: white;
        background-color: #1A1B1C;
        border-radius: 5px;
    }

    .resultsContainer .arrowIcon {
        display: none;
    }

    .resultsMiddle {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .cameraButton, .galleryButton {
        width: 400px;
    }

    .resultsTitle {
        order: -1;
    }

    .resultsMiddle {
        order: 1;
    }

    .resultsLoadingState h3{
        text-align: center;
        border: 2px dashed #1A1B1C;
        padding: 100px 80px;
    }
    
    .rombuses{
        display: none;
    }
}

@media (max-width: 500px) {
    .resultsTitle{
        font-size: 14px;
    }


     .resultsContainer .startButton {
        font-size: 10px;
        width: 50px;
    }
}