#camera{
    height: 100vh;
    overflow: hidden;
}

.cameraContainer{
    flex: 1;
    background-color: black;
    height: 100%;
    position: relative;
}

.cameraPopup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;

}

.video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videoButtons{
    position: absolute;
    bottom: 50%;
    right: 32px;
    display: flex;
    align-items: flex-end;
}

.videoButton{
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
}

.startButton{
    color: white;
}

.arrowIcon {
   filter: brightness(0) invert(1);
}

.photoReview{
    width: 70%;
}

.photoReviewPopup{
    display: flex;
    justify-content: center;
    align-items: center;
}

.retake{
    color: #1a1a2a;
    font-size: 24px;
    cursor: pointer;
    margin-left: 8px;
    border: 1px solid white;
    padding: 4px 10px;
    background-color: white;
    border-radius: 5px;
}

.proceed{
    display: flex;
    right: 3%;
}

.cameraBottom{
   position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomMid li, .bottomMid p{
    color: white;
}


.bottomMid{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex: 1;
}

ol{
    display: flex;
    gap: 40px;
}

.bottomMid p{
    font-size: 14px;
}

.bottomMid li{
    font-size: 12px;
    list-style-type: disc;
}