.summaryContainer{
    margin: 0px 32px 20px 32px;
    height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summaryTop h1{
    font-size: 70px;
}

.title{
    font-weight: 720;
}

.summaryMiddle{
    display: flex;
    justify-content: space-between;
}

.summaryMidLeft{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    border-top: 2px solid #1A1B1C;
    padding: 18px 80px 18px 8px;
    font-size: 18px;
    cursor: pointer;
}

.race {
    background-color: #1A1B1C;
}

.button.race:hover {
    background-color: black;
}

.race p{
    color: white;
}

.button.age:hover, .button.sex:hover{
    background-color: #e1e1e2;
}

.summaryMidCenter{
    border-top: 2px solid #1A1B1C;
    display: flex;
    justify-content: space-between;
    width: 1024px;
    height: 500px;
}

.resultLabel{
    font-size: 20px;
}

.resultLabelLarge{
    font-size: 40px;
}

.graph{
    width: 400px;
    height: 400px;
    margin-top: 100px;
    position: relative;
}

.progressRing{
    transform:rotate(-90deg);
}

.progressRing-bg {
    fill:none;
    stroke: #e1e1e2;
    stroke-width: 5;
}

.progressRing-fg {
    fill: none;
    stroke: #1A1B1C;
    stroke-width: 5;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease;
}

.graphText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;

}

.radio {
    display: none;
}

.diamondRadio{
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg); 
    margin-right: 10px;
    vertical-align: middle;
    border: 2px solid #1A1B1C;
}

.summaryMidRight{
    width: 450px;
    border-top: 2px solid #1A1B1C;
}

.rightTitle{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-bottom: 16px;
}

.listExplanation{
    display: flex;
    justify-content: space-between;
    padding: 8px 4px;
    align-items: center;
    cursor: pointer;
}


.listExplanation:hover{
    background-color: #e1e1e2;
}

.listExplanation:hover .diamondRadio{
    background-color: #1A1B1C;
}

.summaryBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listExplanation.active{
    background-color: #1A1B1C;
}

.listExplanation.active .percentage, .listExplanation.active .resultLabel {
    color: white;
}

.listExplanations .listExplanation.active .diamondRadio {
    border: 2px solid white;
}

.listExplanation.active:hover{
    background-color: black;
}

.listExplanation.active:hover .diamondRadio {
    background-color: white;
}

@media (max-width: 1200px) {
    .summaryTop h1{
        font-size: 50px;
    }

    .button {
        width: 100px;
        height: 80px;
    }

    .button p {
        font-size: 14px;
    }

    .ageResult {
        width: 30px;
    }

    .summaryMidCenter{
        width: 400px;
    }

    .resultLabelLarge{
        font-size: 32px;
    }

    .graph{
        margin-top: 16px;
    }

    .summaryMidRight{
        width: 200px;
    }

    .rightTitle p {
        font-size: 14px;
    }

    .resultLabel {
        font-size: 16px;
    }
}

@media (max-width: 900px) {
    .summaryMiddle{
        flex-direction: column-reverse;
        gap: 32px;
        margin-top: 32px;
        margin-bottom: 50px;
        align-items: center;
    }

    .summaryMidLeft{
        flex-direction: row;
    }

    .summaryMidCenter{
        width: 100%;
        justify-content: space-around;
        height: auto;
    }

    .button{
        padding: 10px 100px;
        justify-content: center;
        align-items: center;
    }

    .summaryMidRight {
        max-height: 150px;
        overflow-y: auto;
        width: 400px;
        padding: 0 16px;
    }

    .rightTitle p{
        font-size: 16px;
    }
}

@media (max-width: 700px){
    .button{
        padding: 10px 60px;
    }

    .summaryMidCenter{
        flex-direction: column;
        align-items: center;
    }

    .summaryMiddle{
        order: 1;
    }

    .summaryBottom p{
        font-size: 12px;
        width: 200px;
        text-align: center;
    }

    .summaryBottom .startButton {
        font-size: 12px;
        border: 1px solid #1A1B1C;
        padding: 4px;
        color: white;
        background-color: #1A1B1C;
        border-radius: 5px;
    }

    .summaryBottom .arrowIcon {
        display: none;
    }

    .summaryTop h1{
        font-size: 24px;
    }

    .summaryTop p{
        font-size: 14px;
    }

    .summaryTop {
        order: -1;
    }

    .summaryBottom{
        order: 0;
        margin: 12px 0;
    }

    .summaryBottom p{
        width: 150px;
    }
}

@media (max-width: 400px) {

    .summaryMidRight{
        width: 250px;
        margin-bottom: 60px;
    }

    .button{
        padding: 4px; 
    }

    .progressRing {
    transform: rotate(-90deg) scale(0.6); 
    }

    .graph { 
        width: 400px; 
        height: 400px;
    }
    .graphText { 
        font-size: 30px; 
    }
}